[Unit]
Description=Minecraft server

[Service]
Type=forking
Environment=SHELL=/bin/bash
Environment=TMUX_SESSION={{ tmux_session }}
Environment=TMUX_WINDOW={{ tmux_window }}
Environment=JVM_OPTS="{{ java_jvm_opts }}"
Restart=on-failure
StartLimitBurst=5
Group={{ minecraft_user }}
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_home }}
ExecStart=/bin/bash {{ minecraft_home }}/minecraft-server-start.sh
ExecStop=/bin/bash {{ minecraft_home }}/minecraft-server-stop.sh

[Install]
WantedBy=multi-user.target